/* 

	07,24
	version 2.4
	https://shikimori.one/%D1%89+%D0%B0+%D1%81+%D1%83+%D0%BA+%D1%83+%D1%88+%D1%83

*/


@media (min-width: 1024px){
  .p-profiles-show .lifetime .title .value::after{
  	content:attr(original-title) ".";
    font-size:11px;
    color:skyblue;
    text-shadow:1px 1px 3px violet;
  }
  .b-tooltipped.dotted{
  	border-bottom:none;
  }
  .p-profiles-show .lifetime .title .value{
  	font-size:0px;
  }
}
@media{
.profile-content .subheadline > a[href$="/favorites"]::after {
   content: var(--profile-favorites-title, "Любимые девочки♡");
   vertical-align: top;
   font-size: 15px;
   padding-right:0px;
  }
}
  .l-page{
  	margin-top:57px;
    border-radius:57px;
    border-right:solid 1px skyblue;
    border-left:solid 1px skyblue;
    box-shadow:0px 0px 50px 30px violet;
    margin-bottom:50px;
  }
  
  body::after {
  content: "";
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position-x:center;
  background-position-y:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image:url("https://desu.shikimori.one/system/user_images_h/original/0ce6e9e825689a4bb5e03609/74bde770deb459005a6262a281ab77dd425ba0f9e9258995b7280df21ba2f434.jpg")
}
  
  .headline,
  .midheadline,
  .subheadline{
    border-radius:10px 70px 10px 70px;
    border-left:solid 1px aqua;
    border-top:solid 1px aqua;
    color:white;
    box-shadow:5px 5px 5px violet;
    text-align:center;
    text-transform:none;
    font-weight: 700;
	background-image:linear-gradient(90deg, rgba(227,127,227,0.3),rgba(127,27,127,0.7));
    line-height:28px;
  }
  .avatar img{
  	border-radius:50%;
    box-shadow:3px 3px 10px purple;
  }
  html[data-color-mode="light"]{
  	--headline-color:#ffc0cb;
    --link-color:#9710d5;
    --link-hover-color:#cca3ff;
    --link-active-color:#FFC0EA;
  }
  .l-top_menu-v2 {
    background: #343434;
    color:violet;
  }
  .l-top_menu-v2 .submenu {
    background: #4e5257;
    border-color:violet;
    border-radius:0px 0px 30px 30px;
  }
  .l-top_menu-v2 .submenu>a {
  	color:violet;
  }
  .l-top_menu-v2 .submenu>a:hover{
  	color:violet;
  }
  .l-top_menu-v2 .global-search input {
    color:violet;
  }
  .l-top_menu-v2 .global-search .clear {
  	color:violet;
  }
  .l-top_menu-v2 .global-search .search-marker {
  	color:violet;
  }
  .l-top_menu-v2.is-search-focus .global-search .search-marker {
  	color:violet;
  }
  .l-top_menu-v2 .global-search .hotkey-marker {
  	border-color:violet;
  	color:violet;
  }
  .l-top_menu-v2 .global-search .search-results .search-mode {
  	color:violet;
  }
  .l-top_menu-v2 .menu-dropdown > span a {
  	color:violet;
    text-shadow: 2px 2px 5px violet;
  }
  .b-stats_bar .bar .first,
  .b-stats_bar .bar .second,
  .b-stats_bar .bar .third{
  	background-color:violet !important;
    border-radius:100px 30px 100px 30px;
  }
  .bar.vertical .line .bar-container .bar.min:hover{
    background-color:plum !important;
  }
  .b-stats_bar .bar{
    border-radius:10px;
  }
  .b-stats_bar .title{
  	color:violet;
  }
  .p-profiles .profile-head .c-brief header .notice {
  	color:violet;
    text-shadow:1px 1px 3px violet;
  }
  header.head h1{
  	color:violet;
    text-shadow:2px 2px 5px aqua;
  }
  .p-profiles .profile-head .c-brief header .notice {
  	color:violet;
  }
  .c-brief .profile-actions > a {
    color:violet;
    text-shadow:1px 1px 5px aqua;
  }
  .b-stats_bar .stat_names .stat_name a {
    color:skyblue;
  }
  .b-stats_bar .stat_names .stat_name::after {
    color:skyblue;
  }
  .p-profiles .profile-head .c-info .c-additionals b {
    color:violet;
    font-size:11px !important;
    display:none;
  }
  .p-profiles .profile-head .c-info .c-additionals div::after {
    color:violet;
  }
  .p-profiles .profile-head .c-history .entry .title {
    color: skyblue;
  }
  .p-profiles .profile-head .c-history .entry .misc {
    color: violet !important;
  }
  .p-profiles .profile-head .c-history .entry .misc.date {
    color: violet !important;
  }
  .p-profiles-show .lifetime .times .time {
    color:pink;
  }
  .p-profiles-show .lifetime .times .time.checked {
    color:violet;
  }
.p-profiles-show .lifetime .times .time.checked::before {
    color:aqua;
    opacity:0.5;
  }
  .p-profiles-show .profile-content .activity .title {
    color:violet;
  }
  .bar.vertical .line .x_label {
    color:violet;
  }
  .bar.vertical{
  	border-bottom:1px solid pink;
  }
  .b-comment > .inner header img{
	border-radius:50%;
    border:solid 1px skyblue;
    box-shadow:3px 3px 5px violet;
  }
  .b-tooltipped:not(a){
  	color:skyblue;
  }
  .bar-container .bar{
    background:violet !important;
    border-radius:50px;
  }
  .l-top_menu-v2 {
  	background-image:linear-gradient(90deg,rgba(227,127,227,0.5),rgba(127,27,127,0.8));
    box-shadow:0px 0px 20px 10px violet;
    background-color:rgba(227,27,227,0.5);
  }
  .l-top_menu-v2 .submenu{background-image:linear-gradient(90deg, rgba(227,127,227,0.5),rgba(127,27,127,0.8));
  }
  .l-top_menu-v2 .menu-dropdown>span{
  	background-image:linear-gradient(90deg, rgba(227,127,227,0.5),rgba(127,27,127,0.8));
    background-color:rgba(227,27,227,0.5);
    border-radius:20px;
  }
  .l-top_menu-v2 .menu-dropdown.active>span,
.l-top_menu-v2 .menu-dropdown>span:focus {
  background-color:rgba(238,130,238,0.3);
  }
  .l-top_menu-v2 .menu-dropdown>span a:hover {
  background-color:rgba(238,130,238,0.2);
  }
  .b-form input[type="submit"]:hover{
    background-color:violet;
    box-shadow:3px 3px 5px aqua;
  }
  .b-form input[type="submit"]{
    box-shadow:3px 3px 5px purple;
    background-color:violet;
    border-left:1px solid aqua;
    border-top:1px solid aqua;
    border-right:none;
    border-bottom:none;
    border-radius:100px 30px 100px 30px;
  }
  .b-spoiler_block > span{
  	border-radius:100px 30px 100px 30px;
    background-image: linear-gradient(90deg, rgba(200, 140, 227, 0.5),rgba(221, 24, 227, 0.9));
  }
  .b-spoiler_block > span:hover{
	background-image:linear-gradient(90deg, rgba(140, 211, 227, 0.5),rgba(28, 205, 223, 0.9));
  }
  .p-profiles-show .about .item-edit::before, .p-profiles-show .about .item-edit::after{
    color:white;
  }
  .p-profiles-favorites .item-edit::before, .p-profiles-favorites .item-edit::after{
    color:white;
  }
  .b-feedback > .marker-positioner > .marker-text{
    background-color:pink;  
    background-image:none;
    border-radius:20px;
  }
  .b-feedback > .marker-positioner > .marker-text:hover{
    background-color:pink;  
    background-image:none;
  }
  .b-catalog_entry .cover .image-decor{
  	border-radius: 10px 10px 0px 10px;
    box-shadow: 1px 1px 5px purple;
}
  }
  .b-catalog_entry .cover .image-decor:hover{
  	box-shadow:3px 3px 5px aqua;
  }
  .b-catalog_entry .cover .image-decor img{
    border-radius: 10px 10px 0px 10px;
  }
  .b-nothing_here{
  	color:aqua;
  }
  .b-input select{
  	border-radius:10px;
  }
  .b-comments .comments-loader, .b-comments .comments-hider, .b-comments .comments-expander{
  	color:skyblue;
    border-radius:100px 30px 100px 30px;
    border:solid 1px skyblue;
  }
  .b-comments .comments-loader:hover, .b-comments .comments-hider:hover, .b-comments .comments-expander:hover{
  	color:violet;
    border-radius:100px 30px 100px 30px;
    border:solid 1px violet;
  }
  .b-image img{
  	border-radius:5px;
  }
  .b-subposter-action {
  	color:pink;
  }
  .b-db_entry > .c-image img{
  	border-radius:20px;
    box-shadow:3px 3px 5px violet;
  }
  .p-profiles-show .achievements .header .title{
  	color:violet;
  }
  .b-form input[type="submit"][disabled], .b-form input.disabled[type="submit"]{
  	background-color:violet;
  }
  .b-achievement.is-badge{
  	border-radius:5px;
  }
  .b-badge img{
  	border-radius:5px;
  }
  .b-spoiler_block > div{
  	border-left:none;
    border:1px dashed skyblue;
  }
  .b-spoiler_block > span{
  	box-shadow:3px 3px 5px violet;
  }
  .b-shiki_editor-v2 aside.markers .b-summary_marker::before, .b-shiki_editor-v2 aside.markers .b-offtopic_marker::before{
  	border-radius:100px 30px 100px 30px;
  }
  .p-profiles .profile-head .c-history .entry img{
  	border-radius:5px;
    box-shadow:1px 1px 3px violet;
  }
  .l-top_menu-v2 .menu-dropdown.profile > span img{
  	border-radius:50%;
    border:solid 1px skyblue;
    box-shadow:3px 3px 5px violet;
  }
  .l-top_menu-v2 .global-search .search-results{
  	border-radius:0px 0px 20px 20px;
  }
  :root{
  --font-main: monospace;
  --font-alt: monospace;
  --font-code: monospace;}
  .b-link_button.dark{
  	border-radius:70px 10px 70px 10px;
    background-color:pink;
    border:solid 1px skyblue;
  }
  .b-link_button.dark:hover{
    background-color:skyblue;
    box-shadow:5px 5px 10px violet;
    border-left:solid 1px violet;
    border-top:solid 1px violet;
    border-bottom:none;
    border-right:none;
  }
  .b-user_history-line .destroy::before{
  	color:pink;
  }
  .b-user_history-line .date{
  	color:skyblue;
    text-shadow:1px 1px 3px violet;
  }
  .b-input input[type="text"]{
  	border-radius:10px;
  }
  .b-input input[disabled]{
  	border-radius:10px;
  }
  .ProseMirror{
  	border-radius:10px;
    border:1px solid aqua;
  }
  .subheadline-input{
  	margin-right:15px;
   	border-radius:10px !important;
  }
  .l-top_menu-v2 .global-search input{
  	border-radius:10px;
    box-shadow:3px 3px 5px violet;
  }
  html{
   height: 100%;
   min-height: 100%;
   overflow: visible;
   background-color:#b70cac;
  }
  .b-add_to_list .trigger, .b-add_to_list .option{
  	border-radius:100px 30px 100px 30px;
  }
  .profile-content .subheadline > a[href$="/favorites"] {
  	font-size: 0;
    padding-right:0px;
  }
  .p-profiles .profile-head .c-brief header h1.aliases::after{
  	color:violet;
  }
  .b-catalog_entry.planned .image-decor::after, .b-catalog_entry.watching .image-decor::after, .b-catalog_entry.completed .image-decor::after, .b-catalog_entry.rewatching .image-decor::after, .b-catalog_entry.on_hold .image-decor::after, .b-catalog_entry.dropped .image-decor::after{
   width: 24px;
   line-height: 24px;
   right: 0px;
   bottom: 0px;
   top: auto;
   background: none;

    
  }
  .b-catalog_entry.completed .image-decor::before, .b-catalog_entry.dropped .image-decor::before, .b-catalog_entry.watching .image-decor::before, .b-catalog_entry.on_hold .image-decor::before, .b-catalog_entry.planned .image-decor::before, .b-catalog_entry.rewatching .image-decor::before{
   content: "";
   display: block;
   right: 0px;
   bottom: 0px;
   border: none;
   width: 35px;
   height: 35px;
   border-radius:20px 0px 0px 20px;
   top: auto;
   border:solid 1px skyblue;
  }
  .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .compatibility a{
   color:violet;
  }
  .p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .compatibility .text.zero{
   color:violet;
  }
  header.head .misc{
   color:violet;
   text-shadow:1px 1px 3px violet;
  }
  ::selection, ::selection{
  	background:pink;
    color:white;
  }
  .legend{
  	border-top:solid 1px skyblue;
    border-bottom:solid 1px skyblue;
    text-align:center;
  }
  .toastify.notice{
  	border-radius:10px 70px 10px 70px;
    background:skyblue;
  }
  .b-rate .stars.score{
  	color:violet;
  }
  .l-top_menu-v2.is-search-mobile .global-search{
  	background:purple;
  }
  .l-top_menu-v2 .menu-icon:hover{
  	background:purple;
    border-radius:20px;
  }
  .l-top_menu-v2 .logo-container .glyph{
  	visibility:hidden;
  }
  .l-top_menu-v2 .logo-container .logo{
  	background-image:url("https://imgur.com/xKs1LZg.png");
    height:52px;
    filter:drop-shadow(20px 20px 1px white);
    z-index:1;
  }
  .l-top_menu-v2 .logo-container .logo:hover{
  	filter:drop-shadow(20px 20px 1px aqua);
  }
  .b-rate .stars.hover{
  	color:aqua;
  }
  .b-link_button.mini{
  	border-radius:70px 10px 70px 10px;
    background-color:pink;
    border:1px solid skyblue;
    box-shadow:3px 3px 5px purple;
  }
  .b-link_button.mini:hover{
  	background-color:skyblue;
    border:1px solid pink;
  }
  .b-spoiler_inline:not(.is-opened){
  	background-color:pink;
  }
  .b-spoiler_inline:not(.is-opened):hover{
  	background-color:hotpink;
  }
  .b-footer_vote{
  	border-radius:70px 10px 70px 10px;
    border:1px solid skyblue;
  }
  :root {
  --user-history-type-color1:aqua;
  --user-history-type-color2:hotpink;
  --user-history-type-color3:purple;
  --user-history-type-name1: "アニメ";
  --user-history-type-name2: "マンガ";
  --user-history-type-name3: "ラノベ";
  --user-history-type-width: auto;
}

[data-locale="en"] {
  --user-history-type-name1: "アニメ";
  --user-history-type-name2: "マンガ";
  --user-history-type-name3: "ラノベ";
}

.b-user_history-line a.db-entry::before {
  content:var(--user-history-type-name);
  display: inline-block;
  vertical-align: top;
  min-width: var(--user-history-type-width);
  padding: 0 3px;
  margin: 0 5px 0 0;
  background-color: color-mix(in srgb, currentColor 24%, Canvas);
  border-radius:3px 20px 3px 20px;
  font-weight: bold;
}

.b-user_history-line a.db-entry[href ^= "/a"]::before {
  --user-history-type-name: var(--user-history-type-name1);
  color: var(--user-history-type-color1);
}

.b-user_history-line a.db-entry[href ^= "/m"]::before {
  --user-history-type-name: var(--user-history-type-name2);
  color: var(--user-history-type-color2);
}

.b-user_history-line a.db-entry[href ^= "/r"]::before {
  --user-history-type-name: var(--user-history-type-name3);
  color: var(--user-history-type-color3);
}
  .p-profiles .stat_name .size {
    padding:3px;
    text-align:center;
    line-height:17px;
    font-weight:bold;
    border-radius:5px 50px 5px 50px;
    background:aqua;
    color:purple;
    opacity:1;
  }
  .b-stats_bar .stat_names .stat_name .size::after{
  	content:" ";
  }
  .b-stats_bar .stat_names .stat_name .size::before{
  	content:" ";
  }
  .b-collection_search .field input{
  	border-radius:20px;
    border:1px solid skyblue;
  }
  body[data-locale="ru"] .b-new_marker::before{
  	border-radius:5px 50px 5px 50px;
    border:1px skyblue solid;
  }
  .b-comments-notifier{
  	border-radius:28%;
    border:1px aqua solid;
  }
  body[data-locale="en"] .b-new_marker::before{
  	border-radius:5px 50px 5px 50px;
    border:1px skyblue solid;
  }
  .b-comment > .inner .name-date .time{
  	color:aqua;
    text-shadow:1px 1px 3px skyblue;
  }
  .b-rate .text-score{
  	font-family:monospace;
    margin-left:-2px;
  }
  .tipsy-inner{
    background:skyblue;
    box-shadow:0px 0px 3px 3.27px aqua;
    border-radius:3px 20px 3px 20px;
  }
  .tipsy-arrow{
  	display:none;
  }f
  .b-button{
  	border-radius:3px 30px 3px 30px;
    background-color:skyblue;
    border:1px solid aqua;
  }
  .p-profiles-favorites .item-back{
  	color:white;
  }
  .p-profiles .profile-head .c-brief .avatar img{
  	box-shadow:3px 3px 10px aqua;
  }
  .b-message > .inner header img{
  	border-radius:50%;
    border:solid 1px skyblue;
    box-shadow:3px 3px 10px purple;
  }
  .b-message > .inner header img:hover{
  	box-shadow:3px 3px 10px aqua;
  }
  .tooltip-inner{
  	border:1px solid aqua;
    box-shadow:0px 0px 3px 3px violet;
  }
  .tooltip-arrow{
  	visibility:hidden;
  }
  .l-top_menu-v2 .menu-icon[data-count]::after{
  	border-color:aqua;
    border-radius:3% 50% 3% 50%;
    font-size:15px;
  }
  body,
  label {
  cursor: url("https://i.imgur.com/DyjufM3.png"), default !important;
  }
  *:before {
    pointer-events: none;
  }
  a,
hover,
before,
after,
active,
.popup li,
.input input,
.submenu
.menu-search,
.entry,
.userbox,
.cover,
.title,
.add-trigger,
.remove-trigger,
.trigger-arrow,
.trigger,
.text,
.option,
.edit,
.watching,
.rewatching,
.close,
.expand span,
.plus,
.b-tooltipped,
input,
.preview,
.unpreview,
.value,
.div,
.slide,
.b-to-top,
.leave,
.invite,
.upload,
.invite span,
.b-spoiler label,
.b-poster,
.off,
.item-ignore,
.item-reply,
.b-comments-notifier,
.comments-loader,
.click-loader {
  cursor: url("https://i.imgur.com/DyjufM3.png"), pointer !important;
}
  .b-anime_status_tag{
  	border-radius:10% 10% 10% 10%;
    box-shadow:3px 3px 5px violet;
  }
  .b-status-line{
  	color:violet;
  }
  .p-user_rates-index .list-groups .summary.lines{
  	text-shadow:1px 1px 3px violet;
  }
  .p-profiles-edit .account .avatar-edit img{
    border-radius:50%;
    border:solid 1px skyblue;
    box-shadow:3px 3px 10px aqua;
  }
  .b-hot_topics-v2{
  	border-radius:10px;
    border-color:aqua;
  }
  .b-input input[type="number"]{
  	border-radius:10px;
  }
  .p-profiles-show .activity .line .bar::after {
  content: attr(title); /* используется текст из атрибута элемента */
  position: absolute; /* настройка положения */
  inset: 0 0 auto auto;
  opacity: 0; /* по умолчанию не показывается */
}

.p-profiles-show .activity .line:last-child .bar::after {
  opacity: 1; /* показывается только данные последнего столбика */
  color:skyblue;
  text-shadow:1px 3px 3px violet;
}

/* сброс настроек по умолчанию для позиционирования данных */
.p-profiles-show .activity .line .bar-container .value {
  position: static;
}
.p-profiles-show .activity .line .bar-container,
.p-profiles-show .activity .line .bar-container .bar {
  position: static;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
  .p-profiles .profile-head .c-brief header .notice span::after{
  	color:violet;
    content:"/♡/";
  }
  .p-profiles header.head .misc{
  	color:skyblue;
  }
  .b-tooltipped.dotted{
  	border-bottom:1px dashed skyblue;
  }
  .p-profiles-show .lifetime .title .value{
  	text-shadow:1px 1px 3px violet;
  }
  .b-dialog > .inner header img{
  	border-radius:50%;
    border:solid 1px skyblue;
    box-shadow:3px 3px 10px purple;
  }
  .b-dialog > .inner header img:hover{
  	box-shadow:3px 3px 10px aqua;
  }
  .item-add{
  	color:pink;
  }
  .b-options-floated{
    font-family:monospace;
  }
  .avatar img:hover{
    box-shadow:3px 3px 10px aqua;
  }
  .l-page .menu-toggler .toggler{
  	border-color:aqua;
  }
  .p-user_rates-index .list-posters .user_rate .edit-user_rate{
  	border-radius:10px;
    background:rgba(127,27,127,0.8);
  }
  .p-user_rates-index .list-posters .user_rate .edit-user_rate:hover{
  	background-color:rgba(0,255,255,0.8);
  }
  .b-comment > .inner header img:hover{
  	box-shadow: 3px 3px 5px aqua;
  }
  .b-shiki_editor .body .editor textarea{
  	border:1px solid aqua;
    border-radius:20px;
  }
  .b-button{
  	border-radius:10px 70px 10px 70px;
    box-shadow:3px 3px 5px purple;
    background-color:violet;
    border-left:1px solid aqua;
    border-top:1px solid aqua;
    border-right:none;
    border-bottom:none;
  }
  .b-button:hover{
  	background-color:violet;
    box-shadow:3px 3px 5px aqua;
  }
  .p-profiles-favorites .cc-favourites.sortable .b-catalog_entry::before{
  	color:pink;
    -webkit-box-shadow: 0 0 0 1px violet;
	box-shadow: 0 0 0 1px violet;
  }
  body{
    background-image:none;
  }
  .b-club .logo{
  	border-radius:50%;
    box-shadow:3px 3px 10px purple;
  }
  .b-club .logo:hover{
  	border-radius:50%;
    box-shadow:3px 3px 10px aqua;
  }
  .p-user_rates-index .list-groups .summary.posters{
  	border-radius:10px 70px 10px 70px;
    border:solid 1px violet;
  }
  .b-user.detailed .info .image-name .image, .b-user.moderation .info .image-name .image{
  	border-radius:50%;
    box-shadow:3px 3px 10px purple;
    padding: 0px 0px 0px 0px;
  }
  .b-achievements_notifier .achievement{
  	border-radius:70px 15px 70px 15px;
    border:1px solid violet;
    padding-left:20px;
    padding-right:30px;
    box-shadow:0px 0px 5px 5px violet;
  }
  .b-achievements_notifier .achievement .image img{
  	border-radius:10%;
  }
  .p-profiles-show .achievements .header .title{
  	padding: 7px;
	text-align: center;
	line-height: 17px;
	font-weight: bold;
	border-radius: 50px 5px 50px 5px;
	background:violet;
	color:purple;
	opacity:1;
  }
  .p-profiles .profile-head .c-info .c-additionals div a{
	text-align: center;
	line-height: 17px;
	font-weight: bold;
    color:white;
  }
  .p-profiles .profile-head .c-info .c-additionals div a:hover{
    color: purple;
    transition:0.3s;
  }
  .p-profiles .profile-head .c-info .c-additionals div::after{
  	visibility:hidden;
  }
  .p-profiles .profile-head .c-info .c-additionals div{
  	margin-bottom:5px;
  }
  .p-profiles .profile-head .c-info .c-additionals div{
  	padding-left: 5px;
    padding-right: 0px;
    padding-top:3px;
    padding-bottom:3px;
	text-align: center;
	line-height: 17px;
	font-weight: bold;
	border-radius: 50px 5px 50px 5px;
	background: violet;
	color: white;
	opacity:1;
  }
  .p-profiles .profile-head .c-info .c-additionals div:hover{
  	background: aqua;
    color: purple;
    transition:0.3s;
    box-shadow:0px 0px 3px 3px violet;
  }
.b-catalog_entry .cover .title{
	text-align:center;
}
.b-options-floated a::after, .b-options-floated .link::after{
	color:violet;
  	display:none;
}
.b-options-floated a, .b-options-floated .link:after{
	background:aqua;
  	color:purple;
  text-shadow:1px 1px 3px white;
  	border-radius:30px 3px 30px 3px;
  margin-left:2px;
  margin-right:2px;
  padding-left:8px;
  padding-right:8px;
  border:1px solid purple;
  margin-bottom:5px;
}
.b-options-floated .selected{
	background:violet;
  color:white;
  text-shadow:1px 1px 3px white;
  	border-radius:30px 3px 30px 3px;
  margin-left:2px;
  margin-right:2px;
  padding-left:8px;
  padding-right:8px;
  border:1px solid purple;
  margin-bottom:5px;
}
.b-catalog_entry.planned .user_rates-minified .image-decor::before, .b-catalog_entry.watching .user_rates-minified .image-decor::before, .b-catalog_entry.completed .user_rates-minified .image-decor::before, .b-catalog_entry.rewatching .user_rates-minified .image-decor::before, .b-catalog_entry.on_hold .user_rates-minified .image-decor::before, .b-catalog_entry.dropped .user_rates-minified .image-decor::before{
	border-radius:50%;
}
.item-mobile::before, .item-mobile::after{
	color:violet;
}
.b-user16 img{
	border-radius:50%;
}
